body{
    background-color: rgb(24, 24, 24);
}

.mainn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

main{
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 300px;
    border-radius: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h1{
    color: white;
}

h3{
    color: yellowgreen;
}

p{
    color: white;
}

button{
    width: 100%;
    background-color: rgb(67, 67, 67);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
}

img{
    width: 130px;
    border-radius: 100%;
    height: 120px;
}

.name{
    padding: 0;
}