*{
    margin: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr{
    background-color: white;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

img{
    width:300px;
    border-radius: 20px;
}