body{
    background-color: hsl(217, 54%, 11%);
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: hsl(216, 50%, 16%);
    height: 600px;
    width: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
}

.mainContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    overflow: hidden;
}

.image{
    width: 300px;
    border-radius: 10px;
}

.line{
    width: 350px;
    height: 1px;
    font-weight: 0;
    background-color: hsl(215, 32%, 27%);
}

.image2{
    display: flex;
    padding-top: 5px;
    gap: 20px;
}

.image3{
    width: 50px;
}

.info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}