body{
    font-family: sans-serif;
}



div{
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

main{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 100px;
}

section{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
