@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #0E0E10;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    height: 1000vh;
}

header{
  box-shadow:
    5px 10px 20px rgba(0, 0, 0, 0.6),
    0 1px 0 rgba(255, 255, 255, 0.05);
    position: fixed;
    width: 100%;
    background-color: #0E0E10;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style-type: none;
    height: 100px;
}

ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    list-style-type: none;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #D81F26;

}

li{
    font-size: 25px;
    transition-duration: 0.3s;
}

li:hover{
    transform: scale(1.06);
    text-shadow: #D81F26 5px 5px 8px;
}

#logo{
    width: 150px;
    transition-duration: 0.3s;
}

#logo:hover{
    transform: scale(1.06);
}

input[type = search]{
  background: transparent;
  border: none;
  outline: none;
  color: #EDEDED;
  padding: 10px 14px;
  width: 250px;
  font-size: 14px;
}

input::placeholder {
  color: #7A7A7A;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D81F26;
    border-radius: 50px;
    padding: 5px;
    background: #222;
    transition: 0.3s;
}

button{
    background: transparent;
    border: none;
    background: #E50914;
    color: #fff;  padding: 8px 14px;
    border-radius: 999px;
    cursor: pointer;
    transition: 0.3s;
    height: 40px;
}

button:hover{
    background-color: #8b0108;
}
