*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(235, 18%, 26%);
    font-family: sans-serif;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: white;
    display: flex;
    height: 500px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.unite{
    display: grid;
    grid-template-columns: 3fr 2fr;
    height: 90%;
    width: 90%;
    gap: 40px;
}

h1{
    font-size: 50px;
    color: hsl(234, 29%, 20%);
    font-weight: 600;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 350px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.second{
    border-radius: 10px;
    width: 300px;
    background-image: url(./assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inp{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.success{
    width: 20px;
}

p{
    display: flex;
    gap: 5px;
    align-items: center;
}

input{
    height: 30px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 10px;
    padding: 10px;
}

button{
    height: 45px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
label{
    font-size: 14px;
}



@media (max-width: 798px){
    main{
        height: 700px;
        width: 500px;
        border-radius: 10px;

    }
    .unite{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }

    .second{
        width: 100%;
        height: 100%;
        background-image: url(./assets/images/illustration-sign-up-tablet.svg);
    }
    .first{
        width: 90%;
        padding: 10px;
    }
    
    h1{
        font-size: 45px;
    }

    .text{
        display: flex;
        justify-content: center;
        align-items: start;
    }


}



@media (max-width: 530px){

    main{
        height: 700px;
        width: 300px;
        border-radius: 10px;

    }
    .unite{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }

    .second{
        height: 100%;
        background-image: url(./assets/images/illustration-sign-up-mobile.svg);
    }
    .first{
        width: 90%;
        padding: 10px;
    }
    
    h1{
        font-size: 35px;
    }

    .text{
        display: flex;
        justify-content: center;
        align-items: start;
    }

    button{
        font-size: 14px;
    }


}