* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: hsl(244, 37%, 16%);
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  
}

.content {
  padding: 60px;
  display: grid;
  gap: 24px;
  align-content: center;
}

.content h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2.2rem;
  line-height: 1.3;
}

.content h1 .accent {
  color: hsl(277, 64%, 61%);
}

.content .description {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.7;
  font-family: 'Lexend Deca', sans-serif;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 32px;
}

.stat {
  display: grid;
  gap: 6px;
}

.stat .number {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
}

.stat .label {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.image {
  position: relative;
}

.image::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsla(277, 64%, 61%, 0.45);
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 1152px){
  .card{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    width: 70%;
  }
  
  .stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .stat{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  body{
    height: 150vh;
  }

}


@media (max-width: 604px){
  .card{
    width: 80%;
    height: 80%;

  }

  .stat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }


}