.container{
    width: 350px;
    overflow: hidden;
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
img{
    width: 360px;
}
h2{
    font-size: 40px;
}


.price{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

p{
    text-decoration: line-through;
}

.black{
    width: 70px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: black;
    color: white;
    font-size: 22px;
    position: absolute;
    bottom: 500px;
}

.percent{
    position: absolute;
    bottom: 430px;
    font-size: 20px;
    left: 10px;
}

.red{
    width: 70px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: red;
    color: white;
    font-size: 22px;
    position: absolute;
    bottom: 460px;

}

.second{
    position: relative;
    
}