body {
    font-family: Arial;
    background-color: #f2f2f2;
}
header {
    background-color: rgb(255, 153, 51);
    padding: 20px;
    text-align: center;
}
nav a {
    margin: 10px;
    text-decoration: none;
    color: black;
}
