body{
    height: 200vh;
}

main{
    display: flex;
    align-items: center;
    height: 100vh;

}

.first{
    background-color: rgb(16, 118, 252);
    border-radius: 999px;
    width: 200px;
    height: 200px;
    animation: first 3s infinite alternate ease-in-out;

}





.second{
    width: 200px;
    height: 200px;
    background-color: orange;
    border-radius: 999px;
    animation: second 7s infinite alternate;
}



@keyframes first{
    0%{
        width: 200px;
        height: 200px;
    }

    50%{
        transform: translate(300px, -200px) ;
    }

    100%{
        transform: translate(700px);
    }
}



@keyframes second{
    0%{
        width: 200px;
        height: 200px;
    }


    25%{
        transform:translate(400px, -300px);
        width: 100px;
        height: 100px;
    }
    
    50%{
        transform:  translate(600px);
        /* width: 300px;
        height: 300px; */
    }

    75%{
        transform:translate(900px, -700px);
        /* width: 250px;
        height: 250px; */
    } 


    100%{
        transform: translate(400px, -300px);
    }

}