.div1{
    background-color: brown;
    width: 300px;
    height: 500px;
    
}

.div2{
    background-color: cyan;
    width: 300px;
    height: 500px;
     
}

.cont{
    display: flex;
    flex-direction: column;
    gap: 20px;
}