body{
    margin: 0;
    padding: 0;
    background-color: #0b0f1a;
}

header{
    background-color: #0f172a;
    height: 80px;
}

.navA{
    color: #e5e7ff;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
}
nav{
    text-align: center;
    padding: 20px;
}

.navA:hover{
    color: #38bdf8;
    font-size: 25px;
    transition-duration: 0.5s;
}

h1{
    text-align: center;
    color: #f8fafc;
}

h3{
    text-align: center;
    color: #c7d2fe;
    transition-duration: 1s;
}

h3:hover{
    text-align: center;
    font-size: 35px;
    color: #38bdf8;
}

.link{
    color: #020617;  
    text-decoration: none;
    transition-duration: 1s;
}

.link:hover{
    font-size: 40px;
    color: #6366f1;
}

.content{
    display: flex;
    flex-direction: column;
}

main{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid #38bdf8;
    height: 400px;
    margin: auto;
    background-color: #020617;
}

.inp{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input{
    height: 28px;
    width: 200px;
    background-color: #020617;
    border: 2px solid #334155;
    color: #f8fafc;
    padding: 5px;
}

input::placeholder{
    color: white;
}



button{
    margin-top: 5px;
    background-color: #1d4ed8;
    color: #f8fafc;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 22px;
    transition-duration: 0.3s;
}

button:hover{
    transform: scale(1.01);
}

a{
    text-decoration: none;
    color: #e5e7ff;
}

a:hover{
    text-decoration: underline;
}

p{
    margin-top: 5px;
    color: #cbd5f5;
}
