body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
}
header {
    text-align: center;
    padding: 30px;
    background-color: #1e293b;
}
h1 {
    color: #38bdf8;
}
.container {
    padding: 30px;
}
.images {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.images img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    transition-duration: 0.3s;
}
p {
    max-width: 800px;
    line-height: 1.6;
}

img:hover{
    transform: scale(1.04);
}