@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Vibur&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

.text1{
  font-family: "Rubik Pixels", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.text2{
  font-family: "Cormorant SC", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;

}
.text3{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    font-size: 25px;

}
.text4{
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 25px;

}
.text5{
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
    font-size: 25px;

}
.text6{
  font-family: "Faster One", system-ui;
  font-weight: 400;
  font-style: normal;

}
.text7{
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
    font-size: 25px;

}
.text8{
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 25px;

}
.text9{
 font-family: "Bitcount Prop Double Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
    font-size: 25px;

}
.text10{
  font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 25px;

}





