body{
    margin: 0;
    padding: 0;
    background-color: #0b0f1a;
}


ol{
    color: white;
    list-style: decimal inside url();
    border: 2px solid rgb(0, 55, 255);
    padding: 20px;
    transition-duration: 0.3s;
    background-color: #0044ff;
}

ol:hover{
    background-color: #00105e;
}

li{
    transition-duration: 0.3s;
    font-size: 20px;
}



li:hover{
    transform: scale(1.03);
    color: greenyellow;

}


h1{
    text-align: center;
    color: #f8fafc;
}



main{
    width: 400px;
    border: 4px solid #002aff;
    height: 400px;
    margin: auto;
    background-color: #020617;
    padding: 30px;
}

.inp{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input{
    height: 28px;
    width: 350px;
    background-color: #020617;
    border: 2px solid #006aff;
    color: #f8fafc;
    padding: 5px;
    border-radius: 10px;
}

button{
    width: 357px;
    margin-top: 5px;
    background-color: #0044ff;
    color: #f8fafc;
    border: none;
    border-radius: 10px;
    height: 40px;
    font-size: 22px;
    transition-duration: 0.3s;
}

a{
    color: #e5e7ff;
}

p{
    margin-top: 5px;
    color: #cbd5f5;
}
